node_modules/
.env
.env.local
.env.*.local
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
Thumbs.db
dist/
build/
.cache/
.next/
out/
.vercel
.env.production.local
.env.development.local
*.jks
key.properties
local.properties
.gradle/
build/
.idea/
*.iml
.run/
captures/
.externalNativeBuild
.cxx
uploads/
temp/
logs/
*.log
.vscode/
.env*.local
.env*.prod
.env*.dev
